@import "scss/fonts";
@import "scss/vars";
@import "scss/mixins";

// libs
@import "scss/bootstrap-reboot";

// layout
@import "scss/layout/layout";

// home-page
@import "scss/home-page/01-top.scss";
@import "scss/home-page/02-welcome.scss";

section {
  font-family: 'Montserrat';

  h2 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 500;
  }

  p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}

.btn {
  padding-left: 15px;
  padding-right: 15px;
  display: inline-flex;
  min-width: 156px;
  min-height: 45px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: $blue-color;
  background-repeat: no-repeat;;
  color: #fff;
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  &:hover {
    text-decoration: none;
    transition-property: box-shadow;
    transition-duration: $transition-default-duration;
    color: #fff;
    box-shadow: 0 0 5px 1px #fff;
  }

  &:active {
    filter: saturate(150%);
  }
}

@media (max-width: $tablet-breakpoint) {
  .btn {
    min-width: 120px;
    min-height: 35px;
  }
}
