@import "scss/fonts";
@import "scss/vars";
@import "scss/mixins";

// libs
@import "scss/bootstrap-reboot";

// layout
@import "scss/layout/layout";

// home-page
@import "scss/home-page/top-block.scss";


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'SF Pro Display', 'Montserrat';
}

.container {
  width: $container-desktop-width;
  min-height: 50px;
  margin: auto;
  outline: 1px solid red;
}

.btn {
  padding-left: 15px;
  padding-right: 15px;
  display: inline-flex;
  min-width: 156px;
  min-height: 45px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: $blue-color;
  color: #fff;
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid transparent;

  &:hover {
    text-decoration: none;
    transition-property: border;
    transition-duration: $transition-default-duration;
    color: #fff;
    border: 1px solid #fff;
  }
}

@media (max-width: $laptop-breakpoint) {
  .container {
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: $tablet-breakpoint) {
  .btn {
    min-width: 120px;
    min-height: 35px;
  }
}
