$blue-color: #0085FF;
$container-desktop-width: 1260px;
$container-small-width: 750px;
$transition-default-duration: 230ms;

// breakpoints
$laptop-breakpoint: 1300px;
$tablet-breakpoint: 768px;
$mobile-breakpoint: 500px;

